.drum-pad {
  background: rgba(141, 202, 221, 0.8);
  border: 2px solid white;
  border-radius: 35%;
  width: 85%;
  height: 85%;
  font-size: 1.2em;
  outline: none;
}

.drum-pad:focus {
  border-color: teal;
}